<p id="notice"><%= notice %></p>

<p>
  <strong>本:</strong>
  <%= @book_review.book_id %>
</p>

<p>
  <strong>レビュー:</strong>
  <%= @book_review.review %>
</p>

<%= link_to '編集', edit_book_review_path(@book_review) %> |
<%= link_to '戻る', book_reviews_path %>
