<div class="form_container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "admins/shared/error_messages", resource: resource %>
    


    <div class="mb-3 row enter">
      <%= f.label :image, class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.file_field :image, class:"form-control-plaintext form-control"%>
      </div>
    </div>

    <div class="mb-3 row enter">
      <%= f.label :name, class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, autofocus: true, class:"form-control-plaintext form-control" %>
      </div>
    </div>

    <div class="mb-3 row enter">
      <%= f.label :phone, class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.text_field :phone, autofocus: true, class:"form-control-plaintext form-control" %>
        </div>
    </div>

    <div class="mb-3 row enter">
      <%= f.label :dob, class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.date_field :dob, autofocus: true, class:"form-control-plaintext form-control" %>
        </div>
    </div>

    <div class="mb-3 row enter">
      <%= f.label :email, class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control-plaintext form-control" %>
        </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    
    <div class="mb-3 row enter">
      <%= f.label :password, class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control-plaintext form-control" %>
        <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
      </div>
    </div>

    <div class="mb-3 row enter">
      <%= f.label :password_confirmation, class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control-plaintext form-control" %>
      </div>
    </div>

    <div class="mb-3 row enter">
      <%= f.label :current_password, class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control-plaintext form-control" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Update" ,class:"btn btn-primary"%>
    </div>
  <% end %>

  <div class="actions">
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class:"btn btn-danger" %>
    <%= link_to "Back", :back %>
  </div>

</div>

<style>
  .form_container {
    width: 50%;
    min-height: 600px;
    margin-left: 25%;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  .form_container h2,
  .form_container .actions {
    text-align: center;
  }

  .form_container .enter {
    padding:10px;
  }

  .form-control{
    border: 1px solid #ccc;
  }
</style>

