<div class="container">
<%= link_to "サインアウト", destroy_admin_session_path , method: :delete %>

<h2>読者管理</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ユーザネム</th>
            <th scope="col">エメル</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @readers.each do |reader| %>
        <tr>
            <td><%= reader.name %></td>
            <td><%= reader.email %></td>
            <td><%= link_to "現わす", reader %></td>
            <td><%= link_to "エディット", edit_reader_path(reader) %></td>
            <td><%= link_to "消す", reader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>
    <p></p>
    <%= link_to "新しい読者を作る", new_reader_path %>
</div>