<div class="container">
<h2>Readers manage</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">create at</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <% @readers.each do |reader| %>
        <tr>
            <td><%= reader.name %></td>
            <td><%= reader.email %></td>
            <td><%= reader.created_at %></td>
            <td><%= link_to "show", reader %></td>
            <td><%= link_to "delete", reader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>