<div class="container">
<%= link_to "sign out", destroy_admin_session_path , method: :delete %>

<h2>Reader info</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">create at</th>
            <th scope="col">updated_at at</th>
            <th scope="col">card id</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @reader.name %></td>
            <td><%= @reader.email %></td>
            <td><%= @reader.created_at %></td>
            <td><%= @reader.updated_at %></td>
            <td><% if @reader.library_card_id %>
                    <%= @reader.library_card_id %>
                <% else %>
                        no card
                <% end %>
            </td>
        </tr>
    </tbody>
</table>

<%= link_to 'back to list', '/readers/' %>
</div>