<%= form_with(model: author) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br><br>
  <div class="container w-75 h-50">
    <div class="form-outline mb-4">
      <%= form.text_field :name, class:"form-control", placeholder: "名前" %>
    </div>

    <div class="form-outline mb-4">
      <%= form.text_field :website, class:"form-control", placeholder: "ウェブサイト" %>
    </div>

      <div class="form-outline mb-4">
        <%= form.text_field :note, class:"form-control", placeholder: "ノート"%>
      </div>
    <!-- Submit button -->
    <div class="text-center">
    <%= form.submit "著者の作成", class:"btn btn-primary mb-4" %> 
    </div>
  </div>
<% end %>
