<%= form_with(model: publisher) do |form| %>
  <% if publisher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publisher.errors.count, "error") %> prohibited this publisher from being saved:</h2>

      <ul>
        <% publisher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br><br>
  <div class="container w-75 h-50">
    <div class="form-outline mb-4">
      <%= form.text_field :name, class:"form-control", placeholder: "名前" %>
    </div>

    <div class="form-outline mb-4">
      <%= form.text_field :address, class:"form-control", placeholder: "住所" %>
    </div>

      <div class="form-outline mb-4">
        <%= form.text_field :email, class:"form-control", placeholder: "メール"%>
      </div>

    <div class="form-outline mb-4">
      <%= form.text_field :deputy, class:"form-control", placeholder: "デリゲート" %>
    </div>
    <!-- Submit button -->
    <div class="text-center">
    <%= form.submit "パブリッシャーの作成", class:"btn btn-primary mb-4" %> 
    </div>
  </div>
<% end %>
