<p id="notice"><%= notice %></p>

<h1 class="text-center">パブリッシャー</h1>
<br><br>
<section class="intro">
  <div class="bg-image h-100">
    <div class="mask d-flex align-items-center h-100" >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover mb-0">
                    <thead>
                      <tr>
                        <th scope="col">名前</th>
                        <th scope="col">住所</th>
                        <th scope="col">メール</th>
                        <th scope="col">デリゲート</th>
                        <th scope="col" colspan="3"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @publishers.each do |publisher| %>
                        <tr>
                          <th scope="row"><%= publisher.name %></td>
                          <td><%= publisher.address %></td>
                          <td><%= publisher.email %></td>
                          <td><%= publisher.deputy %></td>
                          <td><%= link_to '見せる', publisher %></td>
                          <td><%= link_to '編集', edit_publisher_path(publisher) %></td>
                          <td><%= link_to '破壊', publisher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<div class="text-center">
  <%= link_to '新しいパブリッシャー', new_publisher_path, class: "btn btn-outline-secondary", style: "min-height:12px;min-width:150px;" %>
</div>
