<%= link_to "サインアウト", destroy_reader_session_path , method: :delete %>

<%= link_to 'アカウントエディット', reader_registration_path, method: :PATCH %>
<p></p>
<h6>プロファイル</h6>
<% if current_reader.avatar.present? %>
<%= image_tag(current_reader.avatar) %>
<% else %>
<img alt="image" class="rounded-circle" src="/assets/default_avatar_small.jpg">
<% end %>
<br />
ユーザネム: <%= current_reader.name %><br />
イメル: <%= current_reader.email %><br />
アドレス: <%= current_reader.address %><br />

