<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form">
  <div class="form-group">
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
  </div>
  <div class="form-group">
      <div class="field">
        <%= form.label :category_id %>
        <%= form.select(:category_id, options_for_select(@arr, @position1))%>
      </div>
  </div>
  <div class="form-group">
      <div class="field">
        <%= form.label :publisher_id %>
        <%= form.select(:publisher_id, options_for_select(@arr1, @position2))%>
      </div>
  </div>
  <div class="form-group">
      <div class="field">
        <%= form.label :author_id %>
        <%= form.select(:author_id, options_for_select(@arr2, @position2))%>
      </div>
  </div>
  <div class="form-group">
      <div class="field">
        <%= form.label :year %>
        <%= form.number_field :year %>
      </div>
  </div>
  <div class="form-group">
      <div class="field">
        <%= form.label :detail %>
        <%= form.text :detail %>
      </div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>