<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
   <% if @book.image.attached? %>
     <%= image_tag @book.image %>
   <% end %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category.name %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @book.detail %>
</p>

<h2>Review Form</h2>
 <%= form_with(model: @book_review, local:true) do |form| %>
 <div class="field">
    <%= form.text_area:review %>
    <%= form.hidden_field :book_id, :value => @book.id %>
 </div>
 <div class="actions">
     <%= form.submit %>
 </div>
 <% end %>
 
 <h2>Review List</h2>
 <ul>
     <% @book.book_review.each do |book_review| %>
     <li>
         <%= book_review.review %>
     </li>
     <% end %>
 </ul>

<%= link_to '編集', edit_book_path(@book) %> |
<%= link_to '戻る', books_path %>
