<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @book.name %>
</p>

<p>
   <% if @book.image.attached? %>
     <%= image_tag @book.image %>
   <% end %>
</p>

<p>
  <strong>カテゴリ:</strong>
  <%= @book.category.name %>
</p>

<p>
  <strong>出版社:</strong>
  <%= @book.publisher.name %>
</p>

<%
=begin%>
 <p>
  <strong>著者:</strong>
  <%= @book.author.name %>
</p> 
<%
=end%>

<p>
  <strong>年:</strong>
  <%= @book.year %>
</p>

<%
=begin%>
 <p>
  <strong>詳細:</strong>
  <%= @book.detail %>
</p> 
<%
=end%>

<h2>レビューフォーム</h2>
 <%= form_with(model: @book_review, local:true) do |form| %>
 <div class="field">
    <%= form.text_area:review, placeholder:"レビュー" %>
    <%= form.hidden_field :book_id, :value => @book.id %>
 </div>
 <div class="actions">
     <%= form.submit %>
 </div>
 <% end %>
 
 <h2>レビューリスト</h2>
 <ul>
     <% @book.book_review.each do |book_review| %>
     <li>
         <%= book_review.review %>
     </li>
     <% end %>
 </ul>

<%= link_to '編集', edit_book_path(@book) %> |
<%= link_to '戻る', books_path %>
