<%= form_with(model: library_card) do |form| %>
  <% if library_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(library_card.errors.count, "error") %> prohibited this library_card from being saved:</h2>

      <ul>
        <% library_card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
  <div class="form-group">
    <div class="field">
      <%= form.label "開始日", class: "form-label" %>
      <%= form.date_field :start_date, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
  <div class="field">
    <%= form.label "有効期限", class: "form-label"  %>
    <%= form.date_field :expiration_date, class: "form-control", required: true %>
  </div>
</div>
<div class="form-group">
  <div class="field">
    <%= form.label "ノート", class: "form-label" %>
    <%= form.text_area :note, class: "form-control" %>
  </div>
</div>

  <div class="actions text-center">
    <%= form.submit "図書カードを作成する", class: "btn btn-primary", style: "min-height:12px;min-width:150px;"%>
  </div>
  <div class="form">
<% end %>