<%= form_with(model: library_card) do |form| %>
  <% if library_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(library_card.errors.count, "error") %> prohibited this library_card from being saved:</h2>

      <ul>
        <% library_card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :expiration_date %>
    <%= form.date_select :expiration_date %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
