<div class="container">
<p id="notice"><%= notice %></p>

<h1 class="text-center">図書カード</h1>

<table class="table">
  <thead class="table-light">
    <tr>
      <th>ID</th>
      <th>開始日</th>
      <th>有効期限</th>
      <th>オーナー</th>
      <th>ノート</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @library_cards.each do |library_card| %>
      <tr>
        <td><%= library_card.id %></td>
        <td><%= library_card.start_date %></td>
        <td><%= library_card.expiration_date %></td>
        <td><% if library_card.reader %>
              <%= link_to library_card.reader.email, reader_path(library_card.reader.id) %>
            <% else %>
              <%= link_to "所有者がいない", "#", disabled: true %>
            <% end %>
        </div></td>
        <td><%= library_card.note %></td>
        <td><%= link_to '見せる', library_card %></td>
        <td><%= link_to '編集', edit_library_card_path(library_card) %></td>
        <td><%= link_to '破壊', library_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="text-center">
  <%= link_to '新しい図書館カード', new_library_card_path, class: "btn btn-outline-secondary", style: "min-height:12px;min-width:150px;" %>
<div>
</div>