<div class="container">

<p id="notice"><%= notice %></p>

<div class="card mb-10">
  <h5 class="card-header">ID: <%= @library_card.id %></h5>
  <div class="card-body">
    <h5 class="card-title">Start date: <%= @library_card.start_date %> || Expiration date: <%= @library_card.expiration_date%></h5>
    <p class="card-text">Note: <%= @library_card.note %></p>
    <% if @library_card.reader %>
      <%= link_to @library_card.reader.email, reader_path(@library_card.reader.id), class: "btn btn-primary text-light", style: "min-height:12px;min-width:150px;" %>
    <% else %>
      <%= link_to "Dont have owner", "#", class: "btn btn-primary text-light", style: "min-height:12px;min-width:150px;" %>
    <% end %>
  </div>
</div>
<%
=begin%>
 <%= link_to 'Edit', edit_library_card_path(@library_card) %> | 
<%
=end%>
<br><br><hr>
<div class="text-center mt-10">
  <%= link_to 'Back', library_cards_path, class: "btn btn-outline-secondary", style: "min-height:12px;min-width:150px;" %>
<div>

</div>