<div class="container">
    <p id="notice"><%= notice %></p>
    
    <h1 class="text-center">Categories</h1>
    
    <table class="table">
      <thead class="table-light">
        <tr>
          <th>名前</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= link_to '見せる', category %></td>
            <td><%= link_to '編集', edit_category_path(category) %></td>
            <td><%= link_to '破壊', category, method: :delete, data: { confirm: '本気ですか?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    <div class="text-center">
        <%= link_to '新しいカテゴリ', new_category_path %>
    </div>
    
</div>

