<!DOCTYPE html>
<html>
  <head>
    <title>LibraryBookManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- icon font-awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- jQuery -->  
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>  

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
          </div>
          <div class="col-4 text-center">
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
            <% if reader_signed_in? %> 
              <%= link_to "readerサインアウト", destroy_reader_session_path, method: :delete, class: "btn btn-sm btn-outline-secondary" %><br>
            <% end %>
            <% if admin_signed_in? %> 
              <%= link_to "adminサインアウト", destroy_admin_session_path, method: :delete, class: "btn btn-sm btn-outline-secondary" %><br>
            <% end %>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="<%= borrow_pays_path%>">Borrow Pays</a>
          <a class="p-2 text-muted" href="<%= readers_path %>">Readers</a>
          <a class="p-2 text-muted" href="<%= library_cards_path %>">Library Cards</a>
          <a class="p-2 text-muted" href="<%= books_path %>">Books</a>
          <a class="p-2 text-muted" href="<%= publisers_path %>">Publisers</a>
          <a class="p-2 text-muted" href="<%= authors_path %>">Authors</a>
          <a class="p-2 text-muted" href="<%= categories_path %>">Categories</a>
          <a class="p-2 text-muted" href="<%= admin_session_url %>">Profile</a>
        </nav>
      </div>
    <main role="main" class="container">
      <div class="row">
        <div class="col blog-main">
                <% if notice %>
                  <div class="alert alert-success text-center" role="alert">
                    <p id="notice" style="margin:0;"><%= notice %></p>
                  </div>
                <% end %>
                <% if alert %>
                  <div class="alert alert-primary text-center" role="alert">
                    <p class="alert" style="margin:0;"><%= alert %></p>
                  </div>
                <% end %>
                
                <%= yield %>
         <div>
      </div><!-- /.row -->

    </main><!-- /.container -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>